NODE_ENV=development/production
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=3600 # 1 hour
MONGO_URI=mongodb+srv://<username>:<password>@nodejs.h4thyg2.mongodb.net/<your_collection_name>?retryWrites=true&w=majority&appName=<your_cluster_name>
PORT=9000
# FRONTEND_URL=https://your-website.com
BASE_URL=/auth
RESEND_API_KEY=your_resend_api_key